<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Reservar Spot</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="checkout-trip common-bg">
  <!--trip information-->
  <div class="trip-info card round">
    <div class="trip-image border-bottom" [ngStyle]="{'background-image': 'url(' + spot.thumb + ')'}"></div>
    <ion-grid padding>
      <ion-row>
        <ion-col width-66>
          <h5 ion-text color="primary">{{ spot.nombre }}</h5>
          <div>
            <br/>
          </div>
          <div margin-top>
            <span ion-text color="dark">{{ date | date: 'MMM dd' }}</span>
            <br/>
            <span ion-text>{{ spot.location }}</span>
          </div>
          <div margin-top>
            <ion-icon name="checkmark" class="text-green" *ngIf="spot.free_cancellation"></ion-icon>
            <span ion-text *ngIf="spot.free_cancellation">Cancelar Reserva</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!--submit button-->
  <button ion-button class="round" color="primary" margin-top full tappable (click)="send()">Enviar</button>
</ion-content>
